<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="thormang3" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find thor_vt_hand_gazebo)/config/right_hand_position_controllers.yaml" command="load" />

  <!-- load the controllers -->
  <node name="right_hand_pos_controller_spawner" pkg="controller_manager" type="spawner" output="screen"
    args="--stopped
          r_f0_j0_position
          r_f1_j0_position" />

  <node name="start_right_hand_position_controller" pkg="thor_mang_scripts" type="start_controller.sh" args="/gazebo/$(arg robot_name)/joints 2 r_f0_j0_position r_f1_j0_position" />
</launch>
